rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only authenticated users to access the users collection
    // Users can only write to their own document
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    // Allow authenticated users to read questions
    match /questions/{questionId} {
      allow read: if request.auth != null;
    }

    // Allow users to create, read, update, and delete their own answers
    match /user_answers/{answerId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}